<!DOCTYPE html>
<html>
<head>
	<title>隐私政策</title>
	<meta charset="utf-8">
</head>
<body font-size = 18px>
<h1>隐私政策</h1>
<p>本应用尊重并保护所有使用服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，本应用会按照本隐私权政策的规定使用和披露您的个人信息。但本应用将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本应用不会将这些信息对外披露或向第三方提供。本应用会不时更新本隐私权政策。 您在同意本应用服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本应用服务使用协议不可分割的一部分。
</p>
1. 适用范围
(a) 在您使用本应用网络服务，或访问本应用平台网页时，本应用自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；
您了解并同意，以下信息不适用本隐私权政策：
(a) 本应用收集到的您在本应用发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；
(b) 违反法律规定或违反本应用规则行为及本应用已对您采取的措施。
2. 信息使用
(a)本应用不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本应用（含本应用关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。
(b) 本应用亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何本应用平台用户如从事上述活动，一经发现，本应用有权立即终止与该用户的服务协议。
3. 信息披露
在如下情况下，本应用将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：
(a) 经您事先同意，向第三方披露；
(b)为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；
(c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；
(d) 如您出现违反中国有关法律、法规或者本应用服务协议或相关规则的情况，需要向第三方披露；
(e) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；
(f) 在本应用平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，本应用有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。
(g) 其它本应用根据法律、法规或者网站政策认为合适的披露。
4. 信息存储和交换
本应用收集的有关您的信息和资料将保存在本应用及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或本应用收集信息和资料所在地的境外并在境外被访问、存储和展示。
5. Cookie的使用
(a) 在您未拒绝接受cookies的情况下，本应用会在您的计算机上设定或取用cookies ，以便您能登录或使用依赖于cookies的本应用平台服务或功能。本应用使用cookies可为您提供更加周到的个性化服务，包括推广服务。
(b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的本应用网络服务或功能。
(c) 通过本应用所设cookies所取得的有关信息，将适用本政策。
6. 信息安全
(a) 本应用帐号均有安全保护功能，请妥善保管您的用户名及密码信息。本应用将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。
(b) 在使用本应用网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对
7.本隐私政策的更改
(a)如果决定更改隐私政策，我们会在本政策中、本公司网站中以及我们认为适当的位置发布这些更改，以便您了解我们如何收集、使用您的个人信息，哪些人可以访问这些信息，以及在什么情况下我们会透露这些信息。
(b)本公司保留随时修改本政策的权利，因此请经常查看。如对本政策作出重大更改，本公司会通过网站通知的形式告知。
请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是本应用用户名及密码发生泄露，请您立即联络本应用客服，以便本应用采取相应措施。

<h1>Privacy policy</h1>
This application respects and protects the personal privacy of all users using the service. In order to provide you with more accurate and personalized services, this app will use and disclose your personal information in accordance with the provisions of this privacy policy. However, this application will treat this information with a high degree of diligence and prudence. Unless otherwise specified in this privacy policy, this app will not disclose or provide such information to third parties without your prior permission. This application will update this privacy policy from time to time. When you agree to this application service use agreement, you shall be deemed to have agreed to all the contents of this privacy policy. This privacy policy is an integral part of this application service use agreement.
1. Scope of application
(a) When you use the application network service or access the web page of the application platform, the application automatically receives and records the information on your browser and computer, including but not limited to your IP address, browser type, language used, access date and time, software and hardware characteristic information, web page records you need, etc;
You understand and agree that the following information does not apply to this Privacy Policy:
(a) The relevant information and data you publish on this app collected by this app, including but not limited to participation activities, transaction information and evaluation details;
(b) Violation of laws and regulations or the rules of this application and the measures taken by this application against you.
2. Use of information
(a) The app will not provide, sell, lease, share or trade your personal information to any irrelevant third party, unless you have obtained your permission in advance, or the third party and the app (including the app's affiliates) provide services for you alone or jointly, and after the end of the service, it will be prohibited from accessing, including all these materials it can access before.
(b) This application also does not allow any third party to collect, edit, sell or disseminate your personal information free of charge by any means. If any user of the application platform engages in the above activities, once found, the application has the right to immediately terminate the service agreement with the user.
3. Information disclosure
Under the following circumstances, this application will disclose your personal information in whole or in part according to your personal wishes or legal provisions:
(a) Disclose to a third party with your prior consent;
(b) In order to provide the products and services you require, you must share your personal information with a third party;
(c) Disclose to a third party or an administrative or judicial organ in accordance with the relevant provisions of the law or the requirements of the administrative or judicial organ;
(d) If you are required to disclose the situation of this agreement or the application of relevant Chinese laws and regulations to a third party;
(e) If you are a qualified intellectual property complainant and have filed a complaint, you should disclose it to the respondent at the request of the respondent so that both parties can deal with possible rights disputes;
(f) In a transaction created on the application platform, if any party to the transaction has fulfilled or partially fulfilled its transaction obligations and made an information disclosure request, the application has the right to decide to provide the user with necessary information such as the contact information of its counterparty, so as to facilitate the completion of the transaction or the settlement of disputes.
(g) Other disclosures deemed appropriate by the application in accordance with laws, regulations or website policies.
4. Information storage and exchange
The information and materials about you collected by this app will be saved on the servers of this app and / or its affiliates. These information and materials may be transmitted to your country, region or overseas where this app collects information and materials, and accessed, stored and displayed overseas.
5. Use of cookies
(a) If you do not refuse to accept cookies, the app will set or access cookies on your computer so that you can log in or use the services or functions of the app platform that depend on cookies. This application uses cookies to provide you with more thoughtful personalized services, including promotion services.
(b) You have the right to accept or reject cookies. You can refuse to accept cookies by modifying your browser settings. However, if you choose to refuse to accept cookies, you may not be able to log in or use the web services or functions of this application that depend on cookies.
(c) This policy will apply to the relevant information obtained through the cookies set up by this application.
6. Information security
(a) This application account has security protection function. Please keep your user name and password information properly. This application will ensure that your information will not be lost, abused or altered by encrypting user passwords and other security measures. Despite the above security measures, please note that there are no "perfect security measures" on the information network.
(b) When you use this application network service to conduct online transactions, you will inevitably report to the counterparty or potential transaction pairs
7. Changes to this Privacy Policy
(a) If we decide to change the privacy policy, we will publish these changes in this policy, on the company's website and where we think appropriate, so that you can understand how we collect and use your personal information, who can access this information, and under what circumstances we will disclose this information.
(b) The company reserves the right to modify this policy at any time, so please check it often. In case of major changes to this policy, the company will inform you through website notice.
Please protect your personal information properly and provide it to others only when necessary. If you find that your personal information is leaked, especially the user name and password of the app, please contact the app customer service immediately so that the app can take corresponding measures.

</body>
</html>
